<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/styles.css">
    <title>StarMap</title>
</head>
<body>

<div class="interface">
    <div id="pauseButton" class="btn"></div>
    <div class="window" id="window-4">
        <div class="window-top"></div>
        <div class="window-inside"></div>
    </div>
</div>


<div class="celestialMap" id="celestialMap">
    <svg id="svg-4" style="position: absolute">
        <polyline id='4-polyline' points="100,100 2000,2000" style="position: absolute;fill:none;stroke:black;stroke-width:3" />
    </svg>

<!--    <svg height="340px" width="500px">-->
<!--        <ellipse cx="100px" cy="80px" rx="100px" ry="50px" class="orbit"-->
<!--                 style="position: absolute;transform:rotate(20deg);"/>-->
<!--    </svg>-->
</div>

<script type="text/JavaScript" src="app.js"></script>
<script type="text/javascript" src="eventHolder.js"></script>
<script type="text/JavaScript" src="dataReader.js"></script>
</body>
</html>