<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/styles.css">
    <title>StarMap</title>
</head>
<body>

<div class="interface">
    <div id="pauseButton" class="btn"></div>
    <div class="window">

        <div class="window-top">
            <h2 class="window-top-text"></h2>
            <div class="window-x-btn"> &nbsp;&#10006;</div>
        </div>
        <div class="window-inner-text"></div>
<!--                <div class="window-inside"></div>-->

    </div>
</div>


<div class="celestialMap" id="celestialMap">
</div>

<script type="text/JavaScript" src="app.js"></script>
<script type="text/javascript" src="eventHolder.js"></script>
<script type="text/JavaScript" src="dataReader.js"></script>
</body>
</html>